<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="image_src" href="<%= require('./assets/images/page-thumb.png') %>" >
    <title><%= pageTitle %></title>
  </head>

  <body id="top" data-spy="scroll" data-target="#topnav" data-offset="5">
    <div id="app" class="app container mx-auto">
      <header class="fixed-top shadow">
        <nav
          id="topnav"
          class="container-fluid navbar navbar-expand-md navbar-dark px-0 px-md-4"
        >
          <a
            id="brand-name"
            class="brand-name navbar-brand px-4 px-md-0"
            href="https://github.com/piouson"
          >
            <h1 class="my-0 display-4"><%= brandName.toUpperCase() %></h1>
          </a>
          <button
            class="navbar-toggler mr-4"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="navbar-nav bg-dark ml-auto mr-5">
              <a class="nav-link px-4" href="#about"
                ><span class="nav-text">About</span></a
              >
              <a class="nav-link pl-4 pl-md-0" href="#projects"
                ><span class="nav-text">Projects</span></a
              >
            </div>
          </div>
        </nav>
        <a
          class="github-corner-header d-none d-md-block"
          href="https://github.com/piouson/piouson.github.io"
          data-toggle="tooltip"
          aria-label="Fork me on GitHub"
          target="_blank"
        >
          <svg width="80" height="80" viewbox="-30 30 250 250" focusable="true">
            <path d="M0 0h250v250"></path>
            <path
              class="octo-arm"
              d="M127.4 110c-14.6-9.2-9.4-19.5-9.4-19.5 3-7 1.5-11 1.5-11-1-6.2 3-2 3-2 4 4.7 2 11 2 11-2.2 10.4 5 14.8 9 16.2"
              fill="currentColor"
              style="transform-origin: 130px 110px"
            ></path>
            <path
              class="octo-body"
              d="M113.2 114.3s3.6 1.6 4.7.6l15-13.7c3-2.4 6-3 8.2-2.7-8-11.2-14-25 3-41 4.7-4.4 10.6-6.4 16.2-6.4.6-1.6 3.6-7.3 11.8-10.7 0 0 4.5 2.7 6.8 16.5 4.3 2.7 8.3 6 12 9.8 3.3 3.5 6.7 8 8.6 12.3 14 3 16.8 8 16.8 8-3.4 8-9.4 11-11.4 11 0 5.8-2.3 11-7.5 15.5-16.4 16-30 9-40 .2 0 3-1 7-5.2 11l-13.3 11c-1 1 .5 5.3.8 5z"
              fill="currentColor"
            ></path>
          </svg>
        </a>
      </header>
      <main class="main container-fluid p-0">
        <section
          id="about"
          class="container-fluid row align-items-center justify-content-center px-0 mx-0"
        >
          <div id="hero"
            class="hero container-fluid d-flex flex-column justify-content-around flex-lg-row flex-lg-row-reverse align-items-center h-100 px-1"
          >
            <div class="about-article px-0 px-md-5 pl-lg-0 pl-xl-5">
              <h1 class="display-3">
                Hi, I'm Piouson.<br>
                A Software Developer from Manchester UK.
              </h1>
              <p class="lead mt-4 mt-md-5">
                Passionate about new technologies and open source contributions.
                Currently exploring Javascript (MERN) ecosystem, reach out if
                you have an exciting project.
              </p>
            </div>
            <div
              class="icons-main display-4 text-center container row row-cols-md-4 row-cols-lg-1 row-cols-xl-4 px-0 mx-0"
            >
              <a
                class="col"
                id="github-link"
                href="https://github.com/piouson"
                target="_blank"
                aria-label="github profile"
              >
                <i class="py-lg-1 py-xl-0 fab fa-github"></i
              ></a>
              <a
                class="col"
                id="codepen-link"
                href="https://codepen.io/piouson/"
                target="_blank"
                aria-label="codepen profile"
              >
                <i class="py-lg-1 py-xl-0 fab fa-codepen"></i
              ></a>
              <a
                class="col"
                id="instagram-link"
                href="https://www.instagram.com/piouson.code"
                target="_blank"
                aria-label="instagram profile"
              >
                <i class="py-lg-1 py-xl-0 fab fa-instagram"></i
              ></a>
              <a
                class="col"
                id="twitter-link"
                href="https://twitter.com/piouson_code"
                target="_blank"
                aria-label="twitter profile"
              >
                <i class="py-lg-1 py-xl-0 fab fa-twitter"></i
              ></a>
            </div>
          </div>
        </section>
        <section id="projects" class="container-fluid px-4">
          <div class="projects row row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col my-4 grow p-4">
              <a
                class="text-decoration-none"
                href="https://comment.microapi.dev/"
                target="_blank"
              >
                <div
                  class="card h-100 text-gray bg-dark border-rounded border-glow"
                >
                  <img
                    class="card-img-top border-top-rounded"
                    src="<%= require('./assets/images/comment-microservice.png') %>"
                    alt="comment microservice homepage">
                  <div class="card-body text-center">
                    <h5>Comment Microservice</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col my-4 grow p-4">
              <a
                class="text-decoration-none"
                href="https://microapidev.github.io/comment-microapi-demo/"
                target="_blank"
              >
                <div
                  class="card h-100 text-gray bg-dark border-rounded border-glow"
                >
                  <img
                    class="card-img-top border-top-rounded"
                    src="<%= require('./assets/images/comment-microservice-demo.png') %>"
                    alt="comment microservice demo homepage">
                  <div class="card-body text-center">
                    <h5>Comment Microservice Demo</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col my-4 grow p-4">
              <a
                class="text-decoration-none"
                href="https://piouson.github.io/random-quote-generator/"
                target="_blank"
              >
                <div
                  class="card h-100 text-gray bg-dark border-rounded border-glow"
                >
                  <img
                    class="card-img-top border-top-rounded"
                    src="<%= require('./assets/images/coding-quotes.png') %>"
                    alt="coding quotes homepage">
                  <div class="card-body text-center">
                    <h5>Coding Quotes</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col my-4 grow p-4">
              <a
                class="text-decoration-none"
                href="https://piouson.github.io/documentation-page/"
                target="_blank"
              >
                <div
                  class="card h-100 text-gray bg-dark border-rounded border-glow"
                >
                  <img
                    class="card-img-top border-top-rounded"
                    src="<%= require('./assets/images/tech-doc-page.png') %>"
                    alt="technical documentation page">
                  <div class="card-body text-center">
                    <h5>Documentation Page</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col my-4 grow p-4">
              <a
                class="text-decoration-none"
                href="https://piouson.github.io/tribute-page/"
                target="_blank"
              >
                <div
                  class="card h-100 text-gray bg-dark border-rounded border-glow"
                >
                  <img
                    class="card-img-top border-top-rounded"
                    src="<%= require('./assets/images/tribute-page.png') %>"
                    alt="tribute page">
                  <div class="card-body text-center">
                    <h5>Tribute Page</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col my-4 grow p-4">
              <a
                class="text-decoration-none"
                href="https://github.com/piouson/Resolve-Open-Alerts"
                target="_blank"
              >
                <div
                  class="card h-100 text-gray bg-dark border-rounded border-glow"
                >
                  <img
                    class="card-img-top border-top-rounded"
                    src="<%= require('./assets/images/rmm-resolve-comp.png') %>"
                    alt="resolve open rmm alerts github page">
                  <div class="card-body text-center">
                    <h5>Resolve Open RMM Alerts</h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-center my-5">
            <a
              href="https://github.com/piouson"
              target="_blank"
              class="btn btn-outline-dark btn-lg show-all grow text-center border-glow"
              aria-label="github profile"
            >
              <span class="lead">Show all </span>
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </section>
      </main>
    </div>
    <footer class="col mx-0 px-5 py-3 container border-top border-gray-dark">
      <div id="footer" class="footer mx-auto px-4 px-md-0">
        <div class="icons-footer text-center text-md-right py-3">
          <a
            class="m-2"
            aria-label="github profile"
            href="https://github.com/piouson"
            target="_blank"
          >
            <i class="fab fa-github"></i
          ></a>
          <a
            class="m-2"
            aria-label="codepen profile"
            href="https://codepen.io/piouson/"
            target="_blank"
          >
            <i class="fab fa-codepen"></i
          ></a>
          <a
            class="m-2"
            aria-label="instagram profile"
            href="https://www.instagram.com/piouson.code"
            target="_blank"
          >
            <i class="fab fa-instagram"></i
          ></a>
          <a
            class="m-2"
            aria-label="twitter profile"
            href="https://twitter.com/piouson_code"
            target="_blank"
          >
            <i class="fab fa-twitter"></i
          ></a>
        </div>
        <div class="copyright text-center text-md-right pr-2">
          <p class="lead text-gray">
            &copy; <%= copyrightYear %> <%= copyrightName.toLowerCase() %>
          </p>
        </div>
      </div>
      <a
        class="github-corner-footer d-block d-md-none"
        href="https://github.com/piouson/piouson.github.io"
        data-toggle="tooltip"
        aria-label="Fork me on GitHub"
        target="_blank"
      >
        <svg width="80" height="80" viewbox="0 0 250 250" focusable="true">
          <path d="M0 0h250v250"></path>
          <path
            class="octo-arm"
            d="M127.4 110c-14.6-9.2-9.4-19.5-9.4-19.5 3-7 1.5-11 1.5-11-1-6.2 3-2 3-2 4 4.7 2 11 2 11-2.2 10.4 5 14.8 9 16.2"
            fill="currentColor"
            style="transform-origin: 130px 110px"
          ></path>
          <path
            class="footer-octo-body"
            d="M113.2 114.3s3.6 1.6 4.7.6l15-13.7c3-2.4 6-3 8.2-2.7-8-11.2-14-25 3-41 4.7-4.4 10.6-6.4 16.2-6.4.6-1.6 3.6-7.3 11.8-10.7 0 0 4.5 2.7 6.8 16.5 4.3 2.7 8.3 6 12 9.8 3.3 3.5 6.7 8 8.6 12.3 14 3 16.8 8 16.8 8-3.4 8-9.4 11-11.4 11 0 5.8-2.3 11-7.5 15.5-16.4 16-30 9-40 .2 0 3-1 7-5.2 11l-13.3 11c-1 1 .5 5.3.8 5z"
            fill="currentColor"
          ></path>
        </svg>
      </a>
    </footer>
  </body>
</html>
